/* Colors */

.bg-p {
    background: #797979;
}

.color-p {
    color: #797979;
}

.color-p2 {
    color: #333333;
}

.btn-bg {
    background-color: #FFB20F;
}

/*  */

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    box-shadow: 2px -2px 15px #78797C;
}

.active a {
    color: #FF0000 !important;
}

.home-first,
.home-third,
.home-fourth,
.about-two,
.about-three,
.about-four {
    font-family: 'Nunito', sans-serif;
}

.home-first h1 {
    line-height: 1.6em;
    font-weight: 800;
}

.home-first p {
    font-size: 1.1em;
}

.home-first a {
    font-size: 1em;
    font-weight: 800;
}

.home-first img {
    margin-top: -5em;
}

.home-second p {
    line-height: 1.8em;
}

.home-third .oracle-inner {
    margin-top: -14em;
}

.home-fourth p {
    font-weight: 600;
}

.copyright {
    font-size: 14px;
}

/* About page */

.jumbotron-image {
    background-image: url('../img/jumbg.png');
    margin-bottom: 5px !important;
}

.about-four img {
    box-shadow: 50px 50px 120px #00000039;
}

.about-four {
    background-color:#F6F6F6;
}